/Desktop
/Documents
/Downloads
/Music
/Pictures
/Videos
/dev
/Public
/Templates
/.cache
/drivers
/Packages
/.mozilla
/.gnupg
/.local/share/xorg
/.local/share/nvim


.Xauthority
.viminfo
.bash_history
