/Desktop
/Documents
/Downloads
/Music
/Pictures
/Videos
/dev
/Public
/Templates
/.cache
/drivers
/Packages
/.mozilla
/.gnupg
/.local/share/xorg
/.local/share/nvim
/.local/share/ranger
/.local/share/zathura
/.local/share/recently-used.xbel

/.ssh
/.config/dconf
/.config/pulse

.esd_auth
.Xauthority
.viminfo
.bash_history
.zcompdump*
.lesshst
.histfile

